/* Fonts */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Spacing of top-level elements */

html {
  margin: 0;
}

html,
body,
#root {
  display: flex;
  height: 100%;
}

body,
#root {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  overflow: hidden;
}
